:root{
    --bg-color: #313338;
    --bg-color-secondary: hsl(225,6.25%,12.55%);
    --text-color: #b9bbbe;
    --text-color-2: #B9BBBE;
    --white: #F2F3F5;
    --blue: #5865F2;
    --skyblue: #01A5F7;

    --primary-font: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --secondary-font: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;

    --big-font-size: 1.35rem;
    --normal-font-size: 15px;
    --medium-font-size: 13px;
    --smaller-font-size: 11px;
}